/* footer.css */
.site-footer {
    background-color: #333333;
    color: #ffffff;
}

.footer-container {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-sections {
    display: flex;
    gap: 1.25rem;
}

.footer-sections span {
    color: #ededed;
    font-size: 1.25rem;
}

.footer-sections ul li a {
    color: #ffffff;
}

.footer-sections ul li a:hover {
    text-decoration: underline;
    color: #7c3aed;
}

.newsletter input {
    border-radius: 1.875rem;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.newsletter h4,
.social-icons h4 {
    font-weight: 400;
    margin-bottom: 0.625rem;
}

.social-icons ul {
    display: flex;
    gap: 0.9375rem;

}

.social li a:hover img {
    opacity: 0.7;
}

.footer-bottom{
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
    border-top: 0.5px solid #ffffff;
}